$orange-light: #f86f65;
$orange-dark: #ff8a00;
$pink-light: #fa6574;
$purple-light: #5e2ced;
$white: #fff;
$black: #000;
$blue-dark: #051441;
$gray-light: #8d94ad;
$gray-border: #e5e5e5;
$text-title-color: #051441;
$price-old-color: #acacac;
$bg-header-gradient-1: linear-gradient(
  45deg,
  rgb(248, 111, 100) 0%,
  rgba(253, 83, 146, 0.996) 100%
);
$bg-header-gradient-2: linear-gradient(45deg, rgb(164, 69, 178) 0%, rgb(250, 66, 153) 100%);
$bg-header-gradient-3: linear-gradient(45deg, rgb(10, 207, 254) 0%, rgb(73, 90, 255) 100%);
$bg-subscribe-gradient: linear-gradient(50deg, #f86f64 0%, #fd5392fe 64%, #fd5392fe 100%);
$bg-enjoy-gradient: linear-gradient(90deg, #1bdaa5 0%, #5aabdb 100%);
$bg-discount-gradient: linear-gradient(90deg, #7751ff 0%, #8b62ff 100%);
$gradient-main: linear-gradient(-45deg, rgba(253, 83, 145, 0.99608) 0, #f86f65 100%);
$bg-footer: #07112d;

$height-navbar-shrink: 94px;
