.enjoy {
  background: $bg-enjoy-gradient;
  min-height: 530px;
  &-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 0;
    @media screen and (max-width: 767.98px) {
      padding: 30px 0;
      grid-template-columns: 1fr;
    }
  }
  &-image {
    transform: translateY(5.67%);
    max-height: 530px;
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
  }
  .text-heading {
    margin-top: 22px;
    color: #fff;
  }
  &-desc {
    margin-bottom: 5px;
  }
  &-info {
    margin: 30px 0 35px;
  }
}
