.layoutProducts {
  padding: 12rem 0;
  &-desc {
    margin-top: 12px;
  }
  &.bestSell &-list {
    grid-template-columns: repeat(4, 1fr);
  }
  &-list {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 34px;
    @media screen and (max-width: 1023.98px) {
      grid-template-columns: repeat(2, 1fr) !important;
    }
    @media screen and (max-width: 767.98px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
  &-content {
    text-align: center;
  }
  &-item {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
  }
  &-price {
    padding-top: 5px;
    &--new {
      font-weight: 500;
      margin-right: 10px;
    }
    &--old {
      font-weight: 400;
      text-decoration: line-through;
      color: $price-old-color;
    }
  }
  &-title {
    margin-top: 35px;
    transition: all 0.25s linear;
    cursor: pointer;
    &:hover {
      color: $pink-light;
    }
  }
  &-thumb {
    position: relative;
    cursor: pointer;
    img {
      transition: opacity 0.2s linear;
    }
    &:hover {
      img {
        opacity: 0.4;
      }
      .layoutProducts-action {
        animation: fadeInUp 0.4s cubic-bezier(0.5, 0, 0.5, 1) both;
        opacity: 1;
      }
    }
  }
  &-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0 20px;
    overflow: hidden;
  }
  &-action {
    width: 7rem;
    height: 7rem;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    font-size: 2.6rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;
    ion-icon {
      position: relative;
      z-index: 10;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $gradient-main;
      transform: scale(0);
      transition: all 0.2s linear;
    }
    &:hover::after {
      transform: scale(1);
    }
    &-heart {
      animation-delay: 200ms !important;
    }
  }
  &-label {
    position: absolute;
    z-index: 20;
    top: 20px;
    right: 20px;
    padding: 5px 17px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    &--new {
      background-color: #00d20f;
    }
    &--sale {
      background-color: #ff8a00;
    }
    &--hot {
      background-color: #ff1010;
      padding: 0;
      width: 50px;
      height: 50px;
      border-radius: 100rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

// .layoutProducts.bestSell {
//   .layoutProducts-list {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
